# How to use this file: <https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>

# Frontends

/apps/frontend/ @chinch02 @nene2004

# Backend

/apps/api/ @ahnafaf @RamatjyotSingh @sidfer

# Repo

/.github/ @Von-Seth
